{erl_opts, [debug_info]}.
{deps, [{sd_app,{git,"git://github.com/joq62/sd_app.git", {branch,"main"}}},
        {service_app,{git,"git://github.com/joq62/service_app.git", {branch,"main"}}},
        {log_app,{git,"git://github.com/joq62/log_app.git", {branch,"main"}}},
	{config_app,{git,"git://github.com/joq62/config_app.git", {branch,"main"}}},
        {flatlog,{git,"git://github.com/ferd/flatlog.git", {tag,"v0.1.2"}}}]}.

{dist_node,[{setcookie, test_cookie},
	    {sname,test}]}.
{relx, [{release, {controller_app, "0.1.0"},
         [controller_app,
          log_app,
          config_app,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, false}]}]
            }]
}.
{alias, [
    {check, [xref, dialyzer, edoc,
             {proper, "--regressions"},
             {proper, "-c"}, {ct, "-c"}, {cover, "-v --min_coverage=80"}]}
]}.

{project_plugins, [rebar3_proper]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [proper, recon]}
    ]}
]}.

{dialyzer, [
    {warnings, [unknown]}
]}.

{xref_checks,[
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{proper_opts, [{constraint_tries, 150}]}.
